html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "ZonaPro", Arial, Helvetica, sans-serif;
	min-width: 320px;
	font-weight: 300;
	font-size: 22px;
	color: #ba0808;
	background-color: #efe5db;
	overflow-x: hidden;
}

img {
	box-sizing: content-box;
}

a {
	color: #ba0808;
	cursor: pointer;
}
