@font-face {
	font-family: "ZonaPro";
	src: url("../fonts/ZonaPro-Light.woff2") format("woff2");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "ZonaPro";
	src: url("../fonts/ZonaPro-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Arizonia";
	src: url("../fonts/Arizonia-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Zhi Mang Xing";
	src: url("../fonts/ZhiMangXing-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "ZonaPro";
	src: url("../fonts/ZonaPro-SemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}
