@keyframes rainbow {
	0% {
		background-position: 1%;
	}
	50% {
		background-position: 99%;
	}
	100% {
		background-position: 1%;
	}
}

@keyframes carmove {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(115%);
	}
	100% {
		transform: translateX(0%);
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 125px 21px;
}

header > div,
footer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header > div > span,
footer > div > span {
	font-family: "Zhi Mang Xing", Arial, Helvetica, sans-serif;
	font-size: 28px;
	letter-spacing: 0.84px;
	text-transform: capitalize;
}

header > nav > ul {
	display: flex;
	gap: 52px;
}

header > nav > ul > li,
header > address {
	background: linear-gradient(90deg, #dc143c, #00bfff, #2d5b2d);
	background-clip: text;
	background-size: 300% 300%;
	transition: 0.2s ease-in-out;
	animation: rainbow 2.5s ease-in-out infinite;
	filter: brightness(1.1);
}

header > nav > ul > li:hover > a,
header > address:hover > a {
	color: transparent;
}

main {
	margin: 0 125px 115px;
	display: flex;
	flex: 1 0 auto;
}

main > section:first-child {
	display: flex;
	align-items: center;
	flex: 1 0 100%;
}

main > section:first-child > div:first-child {
	flex: 0 1 45%;
}

main > section:first-child > div:first-child > h1 {
	font-family: Arizonia;
	font-size: 135px;
	line-height: 107.407%;
	letter-spacing: 5.4px;
	text-transform: capitalize;
	margin-bottom: 45px;
}

main > section:first-child > div:first-child > button {
	padding: 20px 48px;
	border-radius: 48px;
	background: #ba0808;
	border-color: transparent;
	color: #efe5db;
	font-weight: 600;
	text-transform: uppercase;
	transition: 0.2s ease-in-out;
}

main > section:first-child > div:first-child > button:hover {
	background: linear-gradient(90deg, #dc143c, #00bfff);
	background-size: 200% 200%;
	animation: rainbow 3s ease-in-out infinite;
}

main > section:first-child > div:nth-child(2) {
	flex: 1 1 auto;
	position: relative;
	padding-bottom: 40%;
}

main > section:first-child > div:nth-child(2) > img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 1s ease-in-out;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 125px;
	background-color: #ba0808;
}

footer > div > span {
	color: #efe5db;
}

footer > div + address {
	transition: 0.3s;
}

footer > div + address > a {
	color: #efe5db;
}

footer > div + address:hover > a {
	transform: scale(1.1);
}

footer > address:last-child > ul {
	display: flex;
	align-items: center;
	gap: 50px;
}

footer > address:last-child > ul > li > a,
footer > div + address > a {
	transition: 0.3s;
	display: block;
}

footer > address:last-child > ul > li:hover > a {
	transform: scale(1.1);
}

.animation {
	animation: carmove 3s ease-in-out forwards;
}

@media (max-width: 1270px) {
	header > nav > ul {
		gap: 25px;
	}

	main > section:first-child > div:first-child > h1 {
		font-size: 70px;
	}
}

@media (max-width: 1170px) {
	header {
		margin: 40px 60px 20px;
	}

	main {
		margin: 0 60px 70px;
	}

	footer {
		padding: 30px 60px;
	}
}

@media (max-width: 1015px) {
	header > nav {
		display: none;
	}
}

@media (max-width: 800px) {
	main > section:first-child > div:first-child > button {
		padding: 15px 25px;
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	main > section:first-child {
		flex-direction: column;
		text-align: center;
	}

	main > section:first-child > div:first-child {
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
	}

	main > section:first-child > div:nth-child(2) {
		width: 100%;
		height: 100%;
		padding-bottom: 75%;
	}

	footer {
		flex-direction: column;
		gap: 15px 0;
	}

	footer > div {
		order: 1;
	}

	footer > div + address {
		order: 3;
	}

	footer > address:last-child {
		order: 2;
	}
}

@media (max-width: 450px) {
	header {
		flex-direction: column;
		gap: 15px 0;
		margin-bottom: 40px;
	}

	main > section:first-child > div:first-child > h1 {
		font-size: 48px;
	}
}
